:host {
  display: block;
  height: 500px; }

.content-container > ::content .token1Area {
  fill: green;
  opacity: 1;
  fill-opacity: 0.6;
  stroke-opacity: 0;
  shape-rendering: geometricPrecision; }

.content-container > ::content .token2Area {
  fill: brown;
  opacity: 1;
  fill-opacity: 0.4;
  stroke-opacity: 0;
  shape-rendering: geometricPrecision; }

.content-container > ::content .token3Area {
  fill: grey;
  opacity: 1;
  stroke-opacity: 0;
  fill-opacity: 0.5;
  shape-rendering: geometricPrecision; }

.content-container > ::content .token1Line {
  stroke: green; }

.content-container > ::content .token2Line {
  stroke: brown; }

.content-container > ::content .token3Line {
  stroke: grey; }

.content-container > ::content text {
  font-family: Lato;
  font-size: 13px; }

.content-container > ::content .grid line {
  stroke: white;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
  stroke-width: 1px; }

.content-container > ::content .grid path {
  stroke-width: 0; }

.content-container > ::content path,
.content-container > ::content line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
  stroke-width: 5px; }

.content-container > ::content .baseLine {
  stroke-width: 6px;
  stroke: #5AA7FF;
  shape-rendering: geometricPrecision; }

.content-container > ::content .line-chart svg {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.content-container > ::content .x-axis text {
  fill: white;
  font-family: helvetica; }

.content-container > ::content .y-axis text {
  fill: white;
  font-family: helvetica; }

.content-container > ::content .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px; }

/* Creates a small triangle extender for the tooltip */
.content-container > ::content .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center; }

/* Style northward tooltips differently */
.content-container > ::content .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0; }

.content-container > ::content .bar {
  fill: orange !important; }

.content-container > ::content .domain {
  stroke: #5AA7FF; }

/* Style northward tooltips differently */
.content-container > ::content .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0; }

.content-container > ::content .bar:hover {
  fill: orangered; }

.content-container > ::content .bar {
  fill: blue !important; }

.content-container > ::content .tick line {
  stroke: transparent !important; }

.content-container > ::content .domain {
  stroke: transparent !important; }

.content-container {
  position: relative; }

#chart {
  left: 130px;
  position: absolute; }

.token-container {
  top: 50px;
  left: 10px;
  position: absolute;
  height: 150px;
  width: 150px;
  border-style: solid;
  border-width: 5px;
  border-color: white; }

.text-container {
  top: 50px;
  left: 640px;
  position: absolute;
  height: 150px;
  width: 300px;
  color: white;
  font-family: helvetica; }

.detailText {
  margin-bottom: 20px; }
