@import "../utilities/variables";

:host {
    display: block;
    height: 500px;
}

.content-container > ::content .token1Area {
    fill: $stroke1;
    opacity: 1;
    fill-opacity: 0.6;
    stroke-opacity: 0;
    shape-rendering: geometricPrecision;
}

.content-container > ::content .token2Area {
    fill: $stroke2;
    opacity:1;
    fill-opacity:0.4;
    stroke-opacity: 0;
    shape-rendering: geometricPrecision;
}

.content-container > ::content .token3Area {
    fill: $stroke3;
    opacity:1;
    stroke-opacity: 0;
    fill-opacity:0.5;
    shape-rendering: geometricPrecision;
}

.content-container > ::content .token1Line {
    stroke:$stroke1;
}

.content-container > ::content .token2Line {
    stroke:$stroke2;
}

.content-container > ::content .token3Line {
    stroke:$stroke3;
}

.content-container > ::content text {
    font-family: Lato;
    font-size: 13px;
}

.content-container > ::content .grid line {
    stroke: white;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}

.content-container > ::content .grid path {
    stroke-width: 0;
}

.content-container > ::content path,
.content-container > ::content line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
    stroke-width: 5px;
}

.content-container > ::content .baseLine {
    stroke-width: 6px;
    stroke:#5AA7FF;
    shape-rendering: geometricPrecision;

}

.content-container > ::content .line-chart svg {
    display: block;

}

.content-container > ::content .x-axis text {
    fill:white;
    font-family: helvetica;
}

.content-container > ::content .y-axis text {
    fill:white;
    font-family: helvetica;
}

