:host {
    display: block;
    height: 400px;
}

.container {
    display: block;
    margin-top:--custom-margin px;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height:250px;
}

.token {
    width:150px;
    height:150px;
    border: 5px solid #5AA7FF;
}

#token1 {
    float:left;
}

#token2 {
    float:right;
}