:host {
  display: block;
  height: 400px; }

.container {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 620px;
  height: 350px;
  position: relative;
  padding-top: 20px; }

.tokenShadowGreen {
  -webkit-box-shadow: 0 0 70px green;
  -moz-box-shadow: 0 0 70px green;
  box-shadow: 0 0 70px green;
  border: 5px solid green !important; }

.tokenShadowRed {
  -webkit-box-shadow: 0 0 70px red;
  -moz-box-shadow: 0 0 70px red;
  box-shadow: 0 0 70px red;
  border: 5px solid red !important; }

.tokenShadowGrey {
  -webkit-box-shadow: 0 0 70px grey;
  -moz-box-shadow: 0 0 70px grey;
  box-shadow: 0 0 70px grey;
  border: 5px solid grey !important; }

.token {
  width: 150px;
  height: 150px;
  border: 5px solid #5AA7FF;
  position: absolute; }

.tokenText {
  width: 150px;
  height: 120px;
  position: absolute; }

.detailName {
  font-size: 20px;
  font-weight: bold;
  font-color: red; }

.detailText {
  margin-left: 10px;
  margin-bottom: 5px; }

#token1 {
  left: 0px; }

#token2 {
  right: 0px; }

#token1Text {
  left: 0px;
  bottom: 0px;
  color: white;
  font-family: helvetica; }

#token2Text {
  right: 0px;
  bottom: 0px;
  color: white;
  font-family: helvetica; }
